<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>

    {# Ошибки, если есть #}
    {% for error in form.email.vars.errors %}
        <div style="color: red;">{{ error.message }}</div>
    {% endfor %}
    {% for error in form.password.vars.errors %}
        <div style="color: red;">{{ error.message }}</div>
    {% endfor %}
    <form action="{{ path('app_login') }}" method="POST">
        {{ form_widget(form) }}
        
    </form>
    

    <p>Уже есть аккаунт? <a href="{{ path('app_register') }}">Зарегистрироваться</a></p>
</body>
</html>
